/**
 * Copyright (C) 2022-25 The Qt Company
 */

{namespace com.google.gerrit.server.mail.template.QtBuildFailed}

/**
 * The .QtBuildFailed template will determine the contents of the email related to a
 * change failed CI.
 */

{template QtBuildFailed kind="text"}
  {@param change: ?}
  {@param coverLetter: ?}
  The change has failed CI.
  {\n}
  Change subject: {$change.subject}{\n}
  ......................................................................{\n}
  {if $coverLetter}
    {\n}
    {\n}
    {$coverLetter}
    {\n}
  {/if}
{/template}
