/**
 * Copyright (C) 2022-25 The Qt Company
 */

{namespace com.google.gerrit.server.mail.template.QtBuildFailedHtml}

import * as mailTemplate from 'com/google/gerrit/server/mail/Private.soy';

/**
 * The .QtBuildFailed template will determine the contents of the email related to a
 * change failed CI.
 */

{template QtBuildFailedHtml}
  {@param change: ?}
  {@param coverLetter: ?}
  {@param email: ?}
  {@param fromName: ?}
  {@param patchSet: ?}
  {let $commentHeaderStyle kind="css"}
    margin-bottom: 4px;
  {/let}

  <p>
    The change has <strong>failed</strong> CI.
  </p>

  {if $email.changeUrl}
    <p>
      {call mailTemplate.ViewChangeButton data="all" /}
    </p>
  {/if}

  {if $coverLetter}
    <p style="{$commentHeaderStyle}">
      <code style="font-family:monospace,monospace">
        {$coverLetter}
      </code>
    </p>
  {/if}
{/template}
